#game-start {
  text-align: center;
}

#game-start h1 {
  color: #2BFDC9;
}

#game-div {
  text-align: center;
  padding: 100px 0;
  margin-bottom: 50px;
}

#level-up{
  text-align: center;
  padding: 100px 0;
  margin-bottom: 50px;
}

#level-up h1 {
  color: #2BFDC9;
}

.btn {
 background: #FF0066 ;
 background-image: -webkit-linear-gradient(top, #FF0066 , #FDB12B );
 background-image: -moz-linear-gradient(top, #FF0066 , #FDB12B );
 background-image: -ms-linear-gradient(top, #FF0066 , #FDB12B );
 background-image: -o-linear-gradient(top, #FF0066 , #FDB12B );
 background-image: linear-gradient(to bottom, #FF0066 , #FDB12B );
 -webkit-border-radius: 28;
 -moz-border-radius: 28;
 border-radius: 28px;
 font-family: "Raleway", sans-serif;
 color: #ffffff ;
 font-size: 20px;
 padding: 10px 20px 10px 20px;
 text-decoration: none;
}

.btn:hover {
 background: #FF0066 ;
 background-image: -webkit-linear-gradient(top, #FF0066 , #2BFDC9 );
 background-image: -moz-linear-gradient(top, #FF0066 , #2BFDC9 );
 background-image: -ms-linear-gradient(top, #FF0066 , #2BFDC9 );
 background-image: -o-linear-gradient(top, #FF0066 , #2BFDC9 );
 background-image: linear-gradient(to bottom, #FF0066 , #2BFDC9 );
 text-decoration: none;
}

body {
  background-color: #718D91;
  font-family: 'Dosis', sans-serif;
}
